/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #5164b2;
    --ifm-color-primary-dark: #4859a2;
    --ifm-color-primary-darker: #445499;
    --ifm-color-primary-darkest: #38457e;
    --ifm-color-primary-light: #6374ba;
    --ifm-color-primary-lighter: #6c7cbe;
    --ifm-color-primary-lightest: #8794ca;
}

/* 
https://www.canva.com/colors/color-wheel/

Light: #5164b2
Dark: #9db0f5

Meridio Colors: 
#0B1F67
#6F7FBF
#F2F7FF
*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #9db0f5;
    --ifm-color-primary-dark: #7993f1;
    --ifm-color-primary-darker: #6684ef;
    --ifm-color-primary-darkest: #3058ea;
    --ifm-color-primary-light: #c1cdf9;
    --ifm-color-primary-lighter: #d4dcfb;
    --ifm-color-primary-lightest: #ffffff;
}